.row {
  display: flex;
  flex-wrap: wrap;
  gap: var(--row-gap);
}

.stats-card-grid {
  display: grid;
  grid-template-columns: 0.8fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  margin-top: 1rem;
}

.pool-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0.5rem;
}