.text-red {
  color: var(--red-default);
}
.bg-red {
  background-color: var(--red-default);
}

.text-orange {
  color: var(--orange-default);
}
.bg-orange {
  background-color: var(--orange-default);
}

.text-yellow {
  color: var(--yellow-default);
}
.bg-yellow {
  background-color: var(--yellow-default);
}

.text-green {
  color: var(--green-default);
}
.bg-green{
  background-color: var(--green-default);
}

.text-blue {
  color: var(--blue-default);
}
.bg-blue {
  background-color: var(-blue-default);
}

.text-purple {
  color: var(--purple-default);
}
.bg-purple {
  background-color: var(--purple-default);
}
